<app-imagenes></app-imagenes>
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-4 text-info">busqueda de imagenes</h1>
    <div class="row">
      <div class="col">
        <p class="lead text-primary text"> <strong> aplicacion de busqueda de imagenes haciendo uso del API REST que expone
          el sitio web internacional para el intercambio de fotos de
          alta calidad Pixabay   </strong></p>
      </div>

      <div class="col">
        <p class="lead text-danger "> <strong> la busqueda se puede realizar de manera general o por categorias solo es
           necesario digitar el criterio de busqueda y seleccionar una categoria para que la aplicacion despliegue el
           listado de imagenes que coinciden   </strong></p>
      </div>

    </div>

  </div>
</div>

